.vscode
.DS_Store

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.mar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore everything in this directory
target
.classpath
.settings
.project
*.iml
*.iws
*.ipr
.idea
.DS_Store

# Ignore version backup files.
*pom.xml.versionsBackup

repository/logs/wso2carbon.log

wso2carbon.pid

backup/
repository/components/default/configuration/1745196950666.log
repository/components/default/configuration/org.eclipse.core.runtime/
repository/components/default/configuration/org.eclipse.equinox.app/
repository/components/default/configuration/org.eclipse.osgi/
repository/components/patches/
repository/conf/api-resource-collection.xml
repository/conf/etc/tasks-config.xml
repository/conf/hazelcast.properties
repository/conf/identity/schemas.xml
repository/logs/
repository/resources/conf/.metadata/
tmp/
whoami.localhost-key.pem
whoam.localhost.pem
./ngrok/ngrok-secrets.yml
