https://localhost:443 {
    reverse_proxy https://localhost:9443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}


my-nginx.localhost {
    tls ./whoami.localhost.pem ./whoami.localhost-key.pem
    reverse_proxy https://localhost:9443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}